<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form>
			<h1 class="title">Create Account</h1>
			{{!-- <div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div> --}}
			{{!-- <span>or use your email for registration</span> --}}
			<input class="input" type="email" placeholder="Email" id="create-email"/>
			<input class="input" type="text" placeholder="Username" id="create-username"/>
			<input class="input" type="password" placeholder="Password" id="create-password" />
			<button class="button" id="signUpBTN">Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form>
			<h1 class="title">Sign in</h1>
			<small class="alert-message-error" id="error-message" style="display: none;"></small>
			

			{{!-- <div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div> --}}
			{{!-- <span>or use your account</span> --}}
			<input class="input" type="Username" placeholder="Username" id="username"/>
			<input class="input" type="password" placeholder="Password" id="password"/>
			<a href="#">Forgot your password?</a>
			<button class="button" id="signInBTN">Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1 class="overlay-title">Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1 class="overlay-title">Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>